@font-face {
    font-family: 'android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;
    margin: 0;
    
}

header{
    background-image: linear-gradient(to bottom,  #0aa52b, #105e20, rgb(12, 27, 12));
    height: 240px;
    margin: 0;   
}

header h1{
    margin: 0;
    padding-top: 64px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

header ul{
    display: flex;
    list-style: none;
}

header li{
    padding: 12px;
    height: auto;
    font-weight: bold;
    border-radius: 3px;
}

header p{
    width: 600px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 1.2em;
    font-weight: normal;
}

header a{
    text-decoration: none;
    color: #68e29f;
}

header li:hover{
    background-color: #33ad4f;
}

main{
    width: 100%;
    max-width: 1300px;
    margin: 0px auto 15px auto;
    background-color: white;
    padding: 20px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
 
}

section a, span{
    background-color: #76e0a9;
    text-decoration: none;
    color: black;
}

section a::after{
    content: ' 🔗';
}

.imgs{
    text-align: center;
    margin: 20px;
}


.video{
    text-align: center;
    background-color: #1A5C38;
    margin: 20px -20px 20px -20px;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.historia{
    font-family: 'android';
    color: #114d11;
    font-size: 2em;
    width: auto;
}

.mais-informacoes{
    background-color: #C5EBD6;
    padding: 1px 5px 15px 0px;
    border-radius: 11px;
    margin: 0;
    text-indent: 0;
}

.mais-informacoes ul{
    list-style: none;
    padding-left: 11px;
}

.listas{
    display: flex;
    gap: 350px;
    margin-left: 0px;
}

.mais-informacoes li::before{
    content: '✔ ';
}



h2{
    font-family: 'android';
    color: #114d11;
    background-image: linear-gradient(to right, #76e0a9, white);
}

p{
    text-indent: 25px;
}

.quer-aprender{
    background-color: #2FA866;
    color: white;
    margin-top: 0;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    margin: 0;
    height: 36px;
    padding-top: 10px;
    text-indent: 0;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 13px;
}

.sem-indent{
    text-indent: 0;
    padding-left: 13px;
}

footer{
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0;
}

footer p{
    margin: 0;
}


